# Database Server (PostgreSQL)
POSTGRES_USER=postgres
POSTGRES_PASSWORD=your_secure_password
POSTGRES_DB=reviewskits

# Prisma / Drizzle Database URL (Localhot for local dev)
DATABASE_URL=postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@localhost:5432/${POSTGRES_DB}

# Auth
BETTER_AUTH_SECRET=your_super_secret_auth_key

# Admin Initial Credentials
ADMIN_EMAIL=admin@reviewskits.com
ADMIN_PASSWORD=admin_secure_password

# Object Storage / Minio (Localhost for local dev)
STORAGE_ACCESS_KEY=minioadmin
STORAGE_SECRET_KEY=minioadmin
STORAGE_ENDPOINT=http://localhost:9000
STORAGE_BUCKET=reviewskits-media
